@import '/src/app/_styles/variables';
@import '/src/app/_styles/utils';
.Home {
  font-family: 'Inter';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1c1c1c;
  color: white;

  svg {
    font-size: 55px;
    animation: spin 1s linear infinite; /* Añade la animación */
  }
}

/* Define la animación de giro */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
